<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
      </h1>
</div>

<div> Months :
    <select (change) = "changemonths($event)">
       <option *ngFor="let i of months">{{i}}</option> <!-- Data Binding -->
    </select>
 </div>

 <div>
   <!-- over here based on if condition the text condition is valid is displayed. 
    If the value of isavailable is set to false it will not display the text. -->


<!--                              Start                                     -->
    <!-- way -01 -->
     <!-- In this method span will  be show in DOM -->
    <span *ngIf = "isavailable; else condition1">Condition checked with if and else is valid.</span> 
    <ng-template #condition1>Condition checked with if and else is  invalid.</ng-template>
<!--                               END                                      -->
<br>
<!--                               Start                                    -->
    <!-- way -02 -->
    <!-- In this method span will not be show in DOM -->
    <span *ngIf="isavailable; then condition2 else condition3"></span>
   <ng-template #condition2>Condition checked with if then else is valid.</ng-template>
   <ng-template #condition3>Condition  checked with if then else is invalid.</ng-template>
<!--                               END                                       -->    
 </div>


<!-- Event Binding -->
<button (click)="myClickFunction($event)">
   Click Me
</button>

<!-- custom directive -->
<div style="text-align:center">
   <span changeText >Welcome to {{title}}.</span>
 </div>

 <!-- PIPE (filter) -->
 
<div style = "width:100%;background-color:blue">
          <h2>******** PIPE EXAMPLES ******</h2>
          <div style = "width:40%;float:left;border:solid 1px black;">
           <h3>Uppercase  </h3>
           <b>{{title | uppercase}}</b><br/>
           
           <h3>Lowercase </h3>
           <b>{{title | lowercase}}</b>
           
           <h3>Currency </h3>
           <b>{{6589.23 | currency:"USD"}}</b><br/>
           <b>{{6589.23 | currency:"USD":'true'}}</b>
            <!-- Boolean true is used to get the sign of the currency. -->
           
           <h3>Date </h3>
           <b>{{todaydate | date:'d/M/y'}}</b><br/>
           <b>{{todaydate | date:'shortTime'}}</b>
           
           <h3>Decimal </h3>
           <b>{{ 454.78787814 | number: '3.4-4' }}</b> 
            <!-- 3 is for main integer, 4 -4 are for integers to be displayed. -->
        </div>
        
        <div style = "width:40%;float:left;border:solid 1px black;">
           <h3>Json </h3>
           <b>{{ jsonval | json }}</b>
           <h3>Percent </h3>
           <b>{{00.54565 | percent}}</b>
           <h3>Slice </h3>
           <b>{{months | slice:2:6}}</b> 
           <!--  here 2 and 6 refers to the start (include) and the end (exclude) index -->
        </div>
        <h1>Custom Pipe</h1>
        <b>Square root of 25 is: {{25 | sqrt}}</b>
        <br/>
        <b>Square root of 729 is: {{729 | sqrt}}</b>
</div>

 <!-- here another module is included -->
 <div style="clear: both;background-color:red">
    <app-new-cmp></app-new-cmp>
 </div>


<!-- Routing -->
<div style="clear: both;background-color:cornsilk">
  <br />
  <a routerLink = "new-cmp">New component</a>

  <br />
  <br/>
  <router-outlet></router-outlet>
</div>

<!-- services -->
<div style="clear: both;background-color:darksalmon">
  <p>----------------- Date show through service -----------------</p>
 <p>{{todaydate}}</p> 
 <p> Serviceproperty : {{serviceproperty}}</p>
 <p> Componentproperty : {{componentproperty}}</p>
</div>
<!-- API CALLING -->
<div>
  <h4>API CALLING</h4>
    <ul *ngFor = "let data of httpdata">
        <li>Name : {{data.name}} Address: {{data.address.city}}</li>
     </ul> 
</div>


